.container_filter {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	transform: translate(-100%, 0);
	transition: transform 0.3s ease;
	border: black 1px solid;
	background-color: #fff;
	overflow-y: auto;
}
.container_filter button {
	width: 100%;
	height: 48px;
	font-size: 1rem;
	border: black 1px solid;
	background: #fff;
	color: #227bbd;
}
.container_filter article {
	padding: 20px;
	background-color: #fff;
}
.container_filter article h3 {
	color: #227bbd;
}
@media screen and (min-width: 1200px) {
	.container_filter {
		position: inherit;
		transform: translate(0, 0);
		width: 30vw;
		margin: 1rem 0 0 1rem;
		z-index: 1;
	}
}
