/*estilos de car-inicio*/
.car {
	margin: 70px 0;
}
.carVacio {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carVacio img {
	margin: 20px 0;
}
.carVacio a {
	color: #ffff !important;
	box-shadow: 4px 3px 8px #01010190;
	padding: 10px 30px;
	background-color: #7f28c4;
	border-radius: 8px;
	position: relative;
}
.carVacio a:hover {
	transform: scale(1.1);
	transition: all 0.5s;
}

.table {
	border: 1px solid #010101;
	padding: 20px;
	border-radius: 8px;
}
.btn {
	background-color: #7f28c4;
	width: 100%;
	padding: 17px;
	margin: 20px 0;
	color: #ffffff;
	border: none;
	cursor: pointer;
}
.compra {
	color: #7f28c4;
}
.cantidad {
	display: flex;
	align-items: center;
	border: 1px solid #01010120;
	justify-content: space-around;
	padding: 5px 0;
	font-size: 20px;
	border-radius: 5px;
}
.add:hover {
	background-color: #01010120;
	color: #ffffff;
	cursor: pointer;
}
/*estilos de car-final*/
/*estilos de Detail-inicio*/
.detailCel {
	display: flex;
	align-items: center;
	gap: 20px;
}
.img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
/*estilos de Detail-final*/
/*estilos de Ticket-inicio*/
.row {
	border-bottom: none !important;
}
.cupon {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 12px;
	gap: 30px;
}
.total {
	font-size: 25px;
	font-weight: lighter;
}
/*estilos de Ticket-final*/
