.container_header {
	background-color: #f5f5f5;
	width: 100vw;
	position: relative;
	height: 70px;
}
.header {
	background-color: #f5f5f5;
	height: inherit;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}
.container_BtnAmburger {
	padding-left: 10px;
}
.container_title {
	width: 50vw;
	text-align: center;
}
.container_searchMobile {
	margin: 10px;
}
.container_car {
	margin-right: 15px;
}

.container_searchDesk {
	display: none;
}

.container_loginDesk {
	display: none;
}
.container_favorite {
	display: none;
}
.container_xMobile {
	display: none;
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
	.container_header {
		width: 100vw;
		height: 70px;
		position: sticky;
		top: 0;
		z-index: 50;
		border-bottom: 1px solid black;
	}

	.header {
		height: inherit;
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid black;
	}

	.container_title {
		text-align: left;
		width: 125px;
	}

	.container_searchDesk {
		width: 600px;
		display: block;
		margin-right: 20px;
	}
	.container_loginDesk {
		height: inherit;
		width: 180px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.container_car {
	}
	.container_favorite {
		display: block;
	}
	.container_BtnAmburger {
		display: none;
	}
	.container_loginMobile {
		display: none;
	}
	.container_searchMobile {
		display: none;
	}
	.container_xMobile {
		display: none;
	}
}
